/* * {cursor: url(https://github.com/Heyabird/heyabird.github.io/blob/master/fly.png?raw=true), auto !important;} */

/* Start http://www.cursors-4u.com */
/* * {cursor: url(fly.png) 1 1, auto} */
/* End http://www.cursors-4u.com */

html {
    scroll-behavior: smooth;
}

body {
    color:rgba(31, 31, 31);
    font-family: 'Space Mono';
    font-weight: lighter;
    text-align: center;
    background: rgb(255, 233, 252, 0);
    background-size: 400% 400%;
    background: linear-gradient(-20deg, #bed3ff,#dbc5ff, #b6b6ff );
    /* animation: gradient 20s ease infinite; */
}

.section {
    padding: 200px 0 0 0 ;
}

#aboutbody {
    background: linear-gradient(-10deg, #dae0ff,#b9c4ff,#a8cbff );
}

#projectbody {
    background: linear-gradient(-10deg, #dae0ff,#f9ffc2,#aeffa3 );
}

#pinktext {
    color: rgb(255, 73, 137);
}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    font-family: 'space mono';
    padding-top: 70px;
}

h3{
    /* font-family: 'Nunito'; */
    margin-top: 30px;
}

h4 {
    font-size: 17px;
    font-weight: lighter;
}

h5 {
  font-size: 13px;
}

p {
    font-family: 'roboto mono';
    font-size: 13px;
}

#textbox {
    border: 1px rgba(31, 31, 31) solid;
    color: rgba(31, 31, 31) solid;
    font-size: 13px;
    display: inline-block;
    padding: 3px 5px 3px 5px;
}
#bordered {
    color: rgba(31, 31, 31)solid ;
    border: 1px rgba(31, 31, 31) solid;
    /* width: 110px; */
    display: inline-block;
    padding: 0 3px 0 3px;
}

img {
    width: 150px;
}

.wrap {
    font-size: smaller;
}


/* hyperlink colors */
a {
    text-decoration: none;
    /* font-family: 'space mono'; */
    font-weight: lighter;
    font-size: 12px;

}

a:link, a:visited {
    color: #000000;
    font-weight: lighter;
}

#special {
    color:rgb(255, 73, 137);
    font-weight: bold;
}

#aspecial {
    color:rgb(255, 73, 137);
    font-weight: bold;
    text-decoration: underline;
}

#aspecial:hover {
    color: rgb(255, 73, 137);
}

button {
    text-align: left;
}

img:hover, a:hover {
    color: rgb(255, 73, 137);
}

#emphasis {
    font-weight: 900;
    /* font-style: italic; */
    font-size: 15px;
    font-family: 'Space Mono';
}

  /* Create a sticky/fixed navbar */
  #navbar {
    font-family: 'Nunito' ;
    overflow: hidden;
    background-color: rgb(255, 255, 255,0);
    padding: 40px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 99%;
    top: 0; /* At the top */
    z-index: 99;
  }

  /* Style the navbar links */
  #navbar a {
    font-family: 'space mono' ;
    /* color: rgba(31, 31, 31); */
    text-align: center;
    display: inline-block;
    padding: 3px;
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Style the logo */
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }

  /* Links on mouse-over */
  #navbar a:hover {
    color: rgb(255, 73, 137);
  }

  /* Style the active/current link */
  #navbar a.active {
    /* color: rgb(255, 0, 43); */
  }

  /* Display some links to the right */
  #navbar-left {
      float:left;
  }
  #navbar-right {
    float: right;
    margin-right: 35px;
  }

  #logo {
      width: 55px;
      float: left;
  }


  #footer {
    overflow: hidden;
    background-color: rgb(255, 221, 250, 0);
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 99%;
    bottom: 0; /* At the top */
    z-index: 99;
  }

  #navbar-bottom {
      padding-bottom: 0px;
      font-size: 14px;
      font-weight: bold;
      float: right;
      margin-right: 20px;
      color: rgb(255, 73, 137);
  }


.skillsbox {
   /* display: inline-block; */
   /* float:left; */
   margin: auto;
   padding: 30px 0px 30px 0px;
   width: 360px;
   font-size: 15px;
   text-align: left;
   border: 1px black solid;
   display: inline-block
}
.skillsbox1 {
    /* display: inline-block; */
    /* float:left; */
    width: 150px;
    text-align: left;
    display: inline-block;
    float:left;
    color: rgb(255, 73, 137);
    text-align: right;
    padding: 0 15px 0 15px;
    font-weight: bold;
    /* font-style: italic; */
 }

 .skillsbox2 {
    /* display: inline-block; */
    /* float:left; */
    width: 150px;
    text-align: left;
    display: inline-block;
    float:left;
    padding: 0 15px 0 15px;

 }

.projectbox {
    display: inline-block;
    width: 200px;
    height: 380px;
    /* border: 1px black solid; */
    margin: 6px;
    size: 15px;
    padding: 6px;
}

.p1 {
    display: flex;
    padding: 40px;
}


.backhome {
    color: rgb(255, 204, 255);
}

#moreaboutbox {
    width: 560px;
    text-align: center;
    display: inline-block;
    float: center;
    padding: 30px;

}

#moreaboutdescription {
    font-family: 'roboto mono';
    font-size: 12px;
}

#projectdescription {
    margin: auto;
    width: 750px;
    text-align: left;
    /* float: center; */
    padding: 30px;
    /* margin-left: 200px; */
}

#centeredinfo {
  margin: auto;
  width: 850px;
  /* text-align: left; */
  /* float: center; */
  padding: 30px;
  /* margin-left: 200px; */
}


#headshot {
    width: 240px;
    height: 240px;
    display:flex;
    border: black solid 1px;
    margin: auto;
    border-radius: 50%;
}

#heya_character {
    width: 200px;
    border-radius: 50%
}

#websitecredit1 {
    font-size: 13px;
    color: rgb(201, 201, 201)
}

#websitecredit2 {
    font-size: 13px;
    color: rgb(232, 232, 232);
    padding: 80px 0 50px 0;
}

#logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

#shake:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  #mobileimage {
    width: 300px;
    margin: auto;
    margin: 5px 10px 5px 10px;
    display: inline-block;
    }      

  #storyimage{
      width: 700px;
      margin: auto;
      display: inline-block;  }

  #projectimage {
      width: 400px;
      margin: auto;
      display: inline-block;
  }

  #projectimage2 {
    width: 500px;
    margin: auto;
    display: flex;
    align-self: center;
}
  #userstory {
    width: 800px;
    background-color: whit;
  }

  #projectgif {
      width: 600px;
  }

  #projectgif_phone {
    width: 250px;
}

  #wireframes {
      display: inline-block;
      width: 950px;
  }













/* DARK ROOM */
.darkroom {
    background: black;
}

h1.darkroom {
    color: white;
    font-size: small;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }

    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }

.img-fluid {
    padding:10px;
    width: 350px;
}

/* BLOG */

#blogbody {
    background: white;
}
.blogbox {
    margin: auto;
    padding: 30px 0px 30px 0px;
    width: 900px;
    font-size: 15px;
    text-align: left;
    /* border: 1px  solid; */
    display: inline-block
}

#blogpost {
    padding: 5px;
}

#blogposttitle {
    text-align: center;
}

#blogpostsubtitle {
    text-align: center;
    font-weight: lighter;
}


#blogpostimage {
    width:300px;
    margin: auto;
    display: flex;
    align-self: center;
}

#blogcontent {
    font-family: 'roboto mono';
    font-size: 12px;
    width: 600px;
    text-align: left;
    margin: auto;
}

#divider {
    border: 0.5px solid black;
    height: 0px;
    width: 300px;
    margin: auto;
}






/* for smartphones */
@media only screen and (max-width: 600px) {

    h1 {
        padding-top: 25px !important;
    }

    #navbar {
        padding: 10px 2px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
        font-size: 10px;
    }

    #navbar a {
    float: none;
    display: block;
    text-align: center;
    /* visibility: hidden; */
    }

    #navbar-right {
    float: right;
        padding-right: 20px;
        visibility: hidden;
    }

    #navbar-bottom {
        font-size: 11px;
        text-align: center;
        float: center;
        margin: auto;
        color: rgb(255, 73, 137);
        font-weight: lighter;
    }


    .skillsbox {
    /* display: inline-block; */
    /* float:left; */
    margin: auto;
    padding: 10px 0px 10px 0px;
    width: 280px;
    text-align: center;
    align-items: center;
    border: 1px black solid;
    /* display: inline-block */

    }

    .skillsbox1 {
        display: none;
    }
    .skillsbox2 {
        text-align: center;
        margin: auto;
        padding: auto;
        /* display: inline-block; */
        align-self: center;
        float: none;

    }

    #moreaboutbox {
        width: 270px;
        font-size: 17px;
        padding: 10px;
        margin: auto;
        text-align: center;
        float: center;
    }

    h1{
        font-size: 25px;
        padding-top: 55px;
    }

    #blogbody, #blogcontent, #blogbox {
        width: 300px;
        text-align: left;
    }

    #blogpostimage, #blogposttitle, #blogpostsubtitle {
        align-self: left;
        margin-left: 0;
        text-align: left;
    }

    #footer, #navbar-bottom {
        text-align: center;
        align-self: left;
        margin: auto;
        float: none;

        /* display: none; */
    }

    #projectgif, #projectgif_phone, #mobileimage, #storyimage, #projectimage, #centeredinfo, #projectimage2, #projectdescription, #wireframes, #userstory {
        width: 350px;
        padding: 0;
    }



  }
