/* * {cursor: url(https://github.com/Heyabird/heyabird.github.io/blob/master/fly.png?raw=true), auto !important;} */

/* Start http://www.cursors-4u.com */ 
* {cursor: url(fly.png) 1 1, auto}
/* End http://www.cursors-4u.com */

body {
    color: #002DFF;
    font-family: helvetica;
    text-align: center;
    /* background-image: url(https://github.com/Heyabird/heyabird.github.io/blob/master/fly.png?raw=true); */
    /* cursor: auto; */
    /* cursor: url(fly.cur)!important; */
}



#websiteName {
    margin-top: 7%;
}

/* hyperlink colors */
a {
    text-decoration: none;
}
a:link, a:visited {
    color: blue;
}
img:hover, a:hover {
    color: rgb(255, 129, 255);
    cursor: url(fly2.png), auto
}


h1{
    text-align: center;
    margin-top: 10px;
}

img {
    width: 150px;
    padding: 10%
}

.icons {
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
    justify-content: space-around;
    vertical-align: middle;
}

#profile {
    width: 650px;
}

/* table {
    display: flex;
    justify-content: space-around;
}

td {
    padding: 20px;
} */

.arrow {
    margin-left: 60%;
    margin-bottom: 0px;
    width: 10% 
}

.backhome {
    color: rgb(255, 129, 255);
    
}

/* for smartphones */

@media only screen and (max-width: 600px) {

    img {
        width: 100px;
    }



    .icons{
        display: flex;
        flex-wrap: wrap;
        margin: 0%;
        justify-content: space-around;
        vertical-align: middle;
    }
    
    .arrow {
        margin-left: 60%;
        width: 30% 
    }

    #profile {
        width: 400px;
    }
  }